In [1]:
import pandas as pd

In [14]:
war_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\ucdp-prio-acd-241-csv\UcdpPrioConflict_v24_1.csv')
pd.set_option('display.max_columns', None)
war_df.head()

#https://ucdp.uu.se/downloads/

,conflict_id,location,side_a,side_a_id,side_a_2nd,side_b,side_b_id,side_b_2nd,incompatibility,territory_name,year,intensity_level,cumulative_intensity,type_of_conflict,start_date,start_prec,start_date2,start_prec2,ep_end,ep_end_date,ep_end_prec,gwno_a,gwno_a_2nd,gwno_b,gwno_b_2nd,gwno_loc,region,version
0,11342,India,Government of India,141,NaN,GNLA,1163,NaN,1,Garoland,2012,1,0,3,1997-05-29,1,2012-11-15,1,1,2012-12-21,NaN,750,NaN,NaN,NaN,750,3,24.1
1,11342,India,Government of India,141,NaN,GNLA,1163,NaN,1,Garoland,2014,1,0,3,1997-05-29,1,2014-07-01,1,1,2014-11-27,NaN,750,NaN,NaN,NaN,750,3,24.1
2,11343,"Egypt, Israel",Government of Egypt,117,NaN,Government of Israel,121,NaN,1,Suez/Sinai,1967,2,1,2,1967-06-05,1,1967-06-05,1,1,1967-06-10,NaN,651,NaN,666,NaN,"651, 666",2,24.1
3,11343,"Egypt, Israel",Government of Egypt,117,NaN,Government of Israel,121,NaN,1,Suez/Sinai,1969,1,1,2,1967-06-05,1,1969-03-06,1,0,NaN,NaN,651,NaN,666,NaN,"651, 666",2,24.1
4,11343,"Egypt, Israel",Government of Egypt,117,NaN,Government of Israel,121,NaN,1,Suez/Sinai,1970,1,1,2,1967-06-05,1,1969-03-06,1,1,1970-08-07,NaN,651,NaN,666,NaN,"651, 666",2,24.1

In [3]:
war_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2686 entries, 0 to 2685
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   conflict_id           2686 non-null   int64
 1   location              2686 non-null   object
 2   side_a                2686 non-null   object
 3   side_a_id             2686 non-null   object
 4   side_a_2nd            436 non-null    object
 5   side_b                2686 non-null   object
 6   side_b_id             2686 non-null   object
 7   side_b_2nd            137 non-null    object
 8   incompatibility       2686 non-null   int64
 9   territory_name        1511 non-null   object
 10  year                  2686 non-null   int64
 11  intensity_level       2686 non-null   int64
 12  cumulative_intensity  2686 non-null   int64
 13  type_of_conflict      2686 non-null   int64
 14  start_date            2686 non-null   object
 15  start_prec            2686 non-null   int64
 16  start_date2           2686 non-null   object
 17  start_prec2           2686 non-null   int64
 18  ep_end                2686 non-null   int64
 19  ep_end_date           554 non-null    object
 20  ep_end_prec           0 non-null      float64
 21  gwno_a                2686 non-null   object
 22  gwno_a_2nd            436 non-null    object
 23  gwno_b                143 non-null    object
 24  gwno_b_2nd            137 non-null    object
 25  gwno_loc              2686 non-null   object
 26  region                2686 non-null   object
 27  version               2686 non-null   float64
dtypes: float64(2), int64(9), object(17)
memory usage: 587.7+ KB

In [10]:
war_df2= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\ucdp-onesided-241-csv\OneSided_v24_1.csv')
pd.set_option('display.max_columns', None)
war_df2.head()

,conflict_id,dyad_id,actor_id,coalition_components,actor_name,actor_name_fulltext,actor_name_mothertongue,year,best_fatality_estimate,low_fatality_estimate,high_fatality_estimate,is_government_actor,location,gwno_location,gwnoa,region,version
0,533,1000,367,NaN,Forces of the Caucasus Emirate,Forces of the Caucasus Emirate,Имарат Кавказ / Имар Кавказ/ Кавказский Эмират,2010,58,58,60,0,Russia (Soviet Union),365,NaN,1,24.1
1,533,1000,367,NaN,Forces of the Caucasus Emirate,Forces of the Caucasus Emirate,Имарат Кавказ / Имар Кавказ/ Кавказский Эмират,2011,40,39,45,0,Russia (Soviet Union),365,NaN,1,24.1
2,533,1000,367,NaN,Forces of the Caucasus Emirate,Forces of the Caucasus Emirate,Имарат Кавказ / Имар Кавказ/ Кавказский Эмират,2013,40,40,43,0,Russia (Soviet Union),365,NaN,1,24.1
3,534,1001,368,NaN,DHD - BW,Dima Halam Daogah - Black Widow faction,Dima Halam Daogah - Black Widow faction,2008,35,35,37,0,India,750,NaN,3,24.1
4,535,1002,373,NaN,BLTF,Bodo Liberation Tiger Force,Bodo Liberation Tiger Force,1996,37,37,43,0,India,750,NaN,3,24.1

In [12]:
war_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262 entries, 0 to 1261
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conflict_id              1262 non-null   int64
 1   dyad_id                  1262 non-null   int64
 2   actor_id                 1262 non-null   int64
 3   coalition_components     31 non-null     object
 4   actor_name               1262 non-null   object
 5   actor_name_fulltext      1258 non-null   object
 6   actor_name_mothertongue  871 non-null    object
 7   year                     1262 non-null   int64
 8   best_fatality_estimate   1262 non-null   int64
 9   low_fatality_estimate    1262 non-null   int64
 10  high_fatality_estimate   1262 non-null   int64
 11  is_government_actor      1262 non-null   int64
 12  location                 1262 non-null   object
 13  gwno_location            1262 non-null   object
 14  gwnoa                    440 non-null    float64
 15  region                   1262 non-null   object
 16  version                  1262 non-null   float64
dtypes: float64(2), int64(8), object(7)
memory usage: 167.7+ KB

In [16]:
war_df3= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\ucdp-nonstate-241-csv\Nonstate_v24_1.csv')
pd.set_option('display.max_columns', None)
war_df3.head()

,conflict_id,dyad_id,org,side_a_name,side_a_name_fulltext,side_a_name_mothertongue,side_a_id,side_a_components,side_a_2nd,gwno_a_2nd,side_b_name,side_b_name_fulltext,side_b_name_mothertongue,side_b_id,side_b_components,side_b_2nd,gwno_b_2nd,start_date,start_prec,start_date2,start_prec2,ep_end,ep_end_date,ep_end_prec,year,best_fatality_estimate,low_fatality_estimate,high_fatality_estimate,location,gwno_location,region,version
0,9488,10098,3,Fulani,Fulani,Fulani,607,NaN,NaN,NaN,Yoruba,Yoruba,Yoruba,701,NaN,NaN,NaN,1998-01-18,2,2021-06-05,1,1,2021-06-09,1.0,2021,41,41,81,Nigeria,475,4,24.1
1,9637,10247,3,Konianke,Konianke,Konianke,1713,NaN,NaN,NaN,Kpelle,Kpelle,Kpelle,1141,NaN,NaN,NaN,2013-07-15,1,2013-07-17,2,1,2013-07-17,2.0,2013,98,98,98,Guinea,438,4,24.1
2,9654,10264,3,Arab,Arab,Arab,1012,NaN,NaN,NaN,Zaghawa,Zaghawa,Zaghawa,705,NaN,NaN,NaN,1989-09-30,3,2022-08-04,1,1,2022-08-04,1.0,2022,28,28,28,Sudan,625,4,24.1
3,9668,10278,3,Arab,Arab,Arab,1012,NaN,NaN,NaN,Masalit,Masalit,Masalit,993,NaN,NaN,NaN,2020-07-19,1,2021-01-17,2,0,NaN,NaN,2021,412,412,463,Sudan,625,4,24.1
4,9668,10278,3,Arab,Arab,Arab,1012,NaN,NaN,NaN,Masalit,Masalit,Masalit,993,NaN,NaN,NaN,2020-07-19,1,2021-01-17,2,0,NaN,NaN,2022,231,231,231,Sudan,625,4,24.1

In [18]:
war_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1639 entries, 0 to 1638
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   conflict_id               1639 non-null   int64
 1   dyad_id                   1639 non-null   int64
 2   org                       1639 non-null   int64
 3   side_a_name               1639 non-null   object
 4   side_a_name_fulltext      1627 non-null   object
 5   side_a_name_mothertongue  1624 non-null   object
 6   side_a_id                 1639 non-null   int64
 7   side_a_components         142 non-null    object
 8   side_a_2nd                21 non-null     object
 9   gwno_a_2nd                21 non-null     float64
 10  side_b_name               1639 non-null   object
 11  side_b_name_fulltext      1632 non-null   object
 12  side_b_name_mothertongue  1624 non-null   object
 13  side_b_id                 1639 non-null   int64
 14  side_b_components         74 non-null     object
 15  side_b_2nd                27 non-null     object
 16  gwno_b_2nd                27 non-null     object
 17  start_date                1639 non-null   object
 18  start_prec                1639 non-null   int64
 19  start_date2               1639 non-null   object
 20  start_prec2               1639 non-null   int64
 21  ep_end                    1639 non-null   int64
 22  ep_end_date               1062 non-null   object
 23  ep_end_prec               1126 non-null   float64
 24  year                      1639 non-null   int64
 25  best_fatality_estimate    1639 non-null   int64
 26  low_fatality_estimate     1639 non-null   int64
 27  high_fatality_estimate    1639 non-null   int64
 28  location                  1639 non-null   object
 29  gwno_location             1639 non-null   object
 30  region                    1639 non-null   object
 31  version                   1639 non-null   float64
dtypes: float64(3), int64(12), object(17)
memory usage: 409.9+ KB

In [20]:
war_df4= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\ged241-csv\GEDEvent_v24_1.csv')
pd.set_option('display.max_columns', None)
war_df4.head()

C:\Users\Olga_hp\AppData\Local\Temp\ipykernel_5128\484301519.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  war_df4= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\ged241-csv\GEDEvent_v24_1.csv')

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,dyad_new_id,dyad_name,side_a_dset_id,side_a_new_id,side_a,side_b_dset_id,side_b_new_id,side_b,number_of_sources,source_article,source_office,source_date,source_headline,source_original,where_prec,where_coordinates,where_description,adm_1,adm_2,latitude,longitude,geom_wkt,priogrid_gid,country,country_id,region,event_clarity,date_prec,date_start,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
0,244657,IRQ-2017-1-524-322,2017,1,Clear,1,259,259,Iraq: Government,524,524,Government of Iraq - IS,116,116,Government of Iraq,234,234,IS,3,"""Agence France Presse,2017-08-01,At least 20 k...",Agence France Presse;Agence France Presse;Pajh...,2017-08-01;2017-08-01;2017-07-31,At least 20 killed in Shiite mosque attack in ...,"IS, interior ministry, security source",1,Kabul city,Iraqi embassy in Kabul,Kabul province,Kabul district,34.531094,69.162796,POINT (69.162796 34.531094),179779,Afghanistan,700,Asia,1,1,2017-07-31 00:00:00.000,2017-07-31 00:00:00.000,0,4,0,2,6,6,6,645,NaN
1,412700,IRQ-2021-1-524-145,2021,1,Clear,1,259,259,Iraq: Government,524,524,Government of Iraq - IS,116,116,Government of Iraq,234,234,IS,15,"""BBC News,2021-08-26,Explosion at Kabul airpor...",BBC News;ShamshadNews on Twitter;Xinhua News A...,2021-08-26;2021-08-26;2021-08-30;2021-08-27;20...,Explosion at Kabul airport;At least 11 people ...,US officials; Taliban spokesman Zabihullah Muj...,1,Kabul international airport,Kabul airport (Abbey gate entrance),Kabul province,Kabul district,34.564444,69.217222,POINT (69.2172222 34.5644444),179779,Afghanistan,700,Asia,1,1,2021-08-26 00:00:00.000,2021-08-26 00:00:00.000,13,1,141,28,183,184,171,645,NaN
2,413023,IRQ-2021-1-524-143,2021,1,Clear,1,259,259,Iraq: Government,524,524,Government of Iraq - IS,116,116,Government of Iraq,234,234,IS,5,"""Khaama Press,2021-08-28,First US airstrike hi...",Khaama Press;Agence France Presse;Reuters News...,2021-08-28;2021-08-28;2021-08-28;2021-08-28;20...,First US airstrike hits ISIS-K fighter after T...,US central command spokesperson Captain Bill U...,1,Jalalabad town,Police District 7 of Jalalabad city,Nangarhar province,Jalalabad district,34.428844,70.455750,POINT (70.45575 34.428844),179061,Afghanistan,700,Asia,1,1,2021-08-28 00:00:00.000,2021-08-28 00:00:00.000,0,2,0,0,2,3,0,645,NaN
3,412909,IRQ-2021-1-524-144,2021,1,Clear,1,259,259,Iraq: Government,524,524,Government of Iraq - IS,116,116,Government of Iraq,234,234,IS,8,"""CNN,2021-08-29,Nine family members, including...",CNN;Associated Press Newswires;Reuters News;Re...,2021-08-29;2021-08-30;2021-08-30;2021-08-29;20...,"Nine family members, including children, kille...",relative; US Central Command; witnesses; Afgha...,1,Kabul city,Kabul city (district 15),Kabul province,Kabul district,34.531094,69.162796,POINT (69.162796 34.531094),179779,Afghanistan,700,Asia,1,1,2021-08-29 00:00:00.000,2021-08-29 00:00:00.000,0,0,10,0,10,10,9,645,NaN
4,132140,AFG-1989-1-411-2,1989,1,Clear,1,333,333,Afghanistan: Government,724,724,Government of Afghanistan - Jam'iyyat-i Islami...,130,130,Government of Afghanistan,292,292,Jam'iyyat-i Islami-yi Afghanistan,-1,"The Times 13 Jan 1989 ""Missiles and tea breaks...",NaN,NaN,NaN,Rebel source,4,Nangarhar province,Nangarhar province,Nangarhar province,NaN,34.333330,70.416670,POINT (70.41667 34.33333),179061,Afghanistan,700,Asia,1,3,1989-01-07 00:00:00.000,1989-01-13 00:00:00.000,6,0,0,0,6,6,6,700,NaN

In [22]:
war_df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349733 entries, 0 to 349732
Data columns (total 49 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 349733 non-null  int64
 1   relid              349733 non-null  object
 2   year               349733 non-null  int64
 3   active_year        349733 non-null  int64
 4   code_status        349733 non-null  object
 5   type_of_violence   349733 non-null  int64
 6   conflict_dset_id   349733 non-null  int64
 7   conflict_new_id    349733 non-null  int64
 8   conflict_name      349733 non-null  object
 9   dyad_dset_id       349733 non-null  int64
 10  dyad_new_id        349733 non-null  int64
 11  dyad_name          349733 non-null  object
 12  side_a_dset_id     349733 non-null  int64
 13  side_a_new_id      349733 non-null  int64
 14  side_a             349733 non-null  object
 15  side_b_dset_id     349733 non-null  int64
 16  side_b_new_id      349733 non-null  int64
 17  side_b             349733 non-null  object
 18  number_of_sources  349733 non-null  int64
 19  source_article     349733 non-null  object
 20  source_office      251211 non-null  object
 21  source_date        251211 non-null  object
 22  source_headline    251205 non-null  object
 23  source_original    306273 non-null  object
 24  where_prec         349733 non-null  int64
 25  where_coordinates  349733 non-null  object
 26  where_description  341001 non-null  object
 27  adm_1              331054 non-null  object
 28  adm_2              280734 non-null  object
 29  latitude           349733 non-null  float64
 30  longitude          349733 non-null  float64
 31  geom_wkt           349733 non-null  object
 32  priogrid_gid       349733 non-null  int64
 33  country            349733 non-null  object
 34  country_id         349733 non-null  int64
 35  region             349733 non-null  object
 36  event_clarity      349733 non-null  int64
 37  date_prec          349733 non-null  int64
 38  date_start         349733 non-null  object
 39  date_end           349733 non-null  object
 40  deaths_a           349733 non-null  int64
 41  deaths_b           349733 non-null  int64
 42  deaths_civilians   349733 non-null  int64
 43  deaths_unknown     349733 non-null  int64
 44  best               349733 non-null  int64
 45  high               349733 non-null  int64
 46  low                349733 non-null  int64
 47  gwnoa              265919 non-null  object
 48  gwnob              15910 non-null   float64
dtypes: float64(3), int64(25), object(21)
memory usage: 130.7+ MB

In [32]:
war_df5= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\organizedviolencecy-241-csv\organizedviolencecy_v24_1.csv')
pd.set_option('display.max_columns', None)
war_df5.head()

,country_id_cy,country_cy,year_cy,region_cy,main_govt_name_cy,sb_exist_cy,sb_dyad_count_cy,sb_dyad_ids_cy,sb_dyad_names_cy,sb_deaths_parties_cy,sb_deaths_civilians_cy,sb_deaths_unknown_cy,sb_total_deaths_best_cy,sb_total_deaths_high_cy,sb_total_deaths_low_cy,sb_intrastate_exist_cy,sb_intrastate_dyad_count_cy,sb_intrastate_dyad_ids_cy,sb_intrastate_dyad_names_cy,sb_intrastate_main_govt_inv_incomp_cy,sb_intrastate_deaths_parties_cy,sb_intrastate_deaths_civilians_cy,sb_intrastate_deaths_unknown_cy,sb_intrastate_deaths_best_cy,sb_intrastate_deaths_high_cy,sb_intrastate_deaths_low_cy,sb_interstate_exist_cy,sb_interstate_dyad_count_cy,sb_interstate_dyad_ids_cy,sb_interstate_dyad_names_cy,sb_interstate_main_govt_inv_incomp_cy,sb_interstate_deaths_parties_cy,sb_interstate_deaths_civilians_cy,sb_interstate_deaths_unknown_cy,sb_interstate_deaths_best_cy,sb_interstate_deaths_high_cy,sb_interstate_deaths_low_cy,ns_exist_cy,ns_dyad_count_cy,ns_dyad_ids_cy,ns_dyad_names_cy,ns_deaths_parties_cy,ns_deaths_civilians_cy,ns_deaths_unknown_cy,ns_total_deaths_best_cy,ns_total_deaths_high_cy,ns_total_deaths_low_cy,os_exist_cy,os_dyad_count_cy,os_dyad_ids_cy,os_dyad_names_cy,os_main_govt_inv_cy,os_main_govt_killings_best_cy,os_main_govt_killings_high_cy,os_main_govt_killings_low_cy,os_any_govt_inv_cy,os_any_govt_killings_best_cy,os_any_govt_killings_high_cy,os_any_govt_killings_low_cy,os_nsgroup_inv_cy,os_nsgroup_killings_best_cy,os_nsgroup_killings_high_cy,os_nsgroup_killings_low_cy,os_killings_unknown_cy,os_total_deaths_best_cy,os_total_deaths_high_cy,os_total_deaths_low_cy,cumulative_total_deaths_parties_in_orgvio_cy,cumulative_total_deaths_civilians_in_orgvio_cy,cumulative_total_deaths_unknown_in_orgvio_cy,cumulative_total_deaths_in_orgvio_best_cy,cumulative_total_deaths_in_orgvio_high_cy,cumulative_total_deaths_in_orgvio_low_cy,version
0,700,Afghanistan,1989,Asia,Government of Afghanistan,1,5,724; 726; 727; 729; 732,Government of Afghanistan - Hizb-i Islami-yi A...,1019,303,3852,5174,17051,1904,1,5,724; 726; 727; 729; 732,Government of Afghanistan - Hizb-i Islami-yi A...,1,1019,303,3852,5174,17051,1904,0,0,NO_DYAD,NO_DYAD,0,0,0,0,0,0,0,1,2,5317; 5321,Harakat-i Inqilab-i Islami-yi Afghanistan - I...,46,0,191,237,591,237,0,0,NO_DYAD,NO_DYAD,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1065,303,4043,5411,17642,2141,24.1
1,700,Afghanistan,1990,Asia,Government of Afghanistan,1,5,724; 726; 727; 732; 733,Government of Afghanistan - Hizb-i Islami-yi A...,704,101,673,1478,2275,1323,1,5,724; 726; 727; 732; 733,Government of Afghanistan - Hizb-i Islami-yi A...,1,704,101,673,1478,2275,1323,0,0,NO_DYAD,NO_DYAD,0,0,0,0,0,0,0,1,1,5321,Hizb-i Islami-yi Afghanistan - Jam'iyyat-i Isl...,20,0,16,36,36,36,0,0,NO_DYAD,NO_DYAD,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,724,101,689,1514,2311,1359,24.1
2,700,Afghanistan,1991,Asia,Government of Afghanistan,1,4,724; 726; 727; 732,Government of Afghanistan - Hizb-i Islami-yi A...,2274,38,990,3302,3802,3156,1,4,724; 726; 727; 732,Government of Afghanistan - Hizb-i Islami-yi A...,1,2274,38,990,3302,3802,3156,0,0,NO_DYAD,NO_DYAD,0,0,0,0,0,0,0,1,2,5320; 5321,Hizb-i Islami-yi Afghanistan - Jamiat-ul-Dawa;...,0,11,240,251,251,251,0,0,NO_DYAD,NO_DYAD,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2274,49,1230,3553,4053,3407,24.1
3,700,Afghanistan,1992,Asia,Government of Afghanistan,1,4,724; 726; 727; 732,Government of Afghanistan - Hizb-i Islami-yi A...,187,1687,2413,4287,5471,4270,1,4,724; 726; 727; 732,Government of Afghanistan - Hizb-i Islami-yi A...,1,187,1687,2413,4287,5471,4270,0,0,NO_DYAD,NO_DYAD,0,0,0,0,0,0,0,1,1,5324,Jam'iyyat-i Islami-yi Afghanistan - Junbish-i ...,0,0,90,90,90,90,1,1,951,Government of Afghanistan - Civilians,1,8,304,8,1,8,304,8,0,0,0,0,0,8,304,8,187,1695,2503,4385,5865,4368,24.1
4,700,Afghanistan,1993,Asia,Government of Afghanistan,1,4,726; 732; 734; 842,Government of Afghanistan - Hizb-i Islami-yi A...,554,611,2906,4071,8185,4063,1,4,726; 732; 734; 842,Government of Afghanistan - Hizb-i Islami-yi A...,1,554,611,2906,4071,8185,4063,0,0,NO_DYAD,NO_DYAD,0,0,0,0,0,0,0,1,1,5322,Hizb-i Islami-yi Afghanistan - Junbish-i Milli...,2,0,6,8,8,8,1,1,951,Government of Afghanistan - Civilians,1,26,240,26,1,26,240,26,0,0,0,0,0,26,240,26,556,637,2912,4105,8433,4097,24.1

In [42]:
happiness_alcohol_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Happiness and Alcohol\HappinessAlcoholConsumption.csv')
pd.set_option('display.max_columns', None)
happiness_alcohol_df.head()

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
0,Denmark,Western Europe,north,7.526,928,53.579,224,81,278
1,Switzerland,Western Europe,north,7.509,943,79.866,185,100,280
2,Iceland,Western Europe,north,7.501,933,60.530,233,61,78
3,Norway,Western Europe,north,7.498,951,70.890,169,71,129
4,Finland,Western Europe,north,7.413,918,43.433,263,133,97

In [44]:
happiness_alcohol_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           122 non-null    object
 1   Region            122 non-null    object
 2   Hemisphere        122 non-null    object
 3   HappinessScore    122 non-null    float64
 4   HDI               122 non-null    int64
 5   GDP_PerCapita     122 non-null    float64
 6   Beer_PerCapita    122 non-null    int64
 7   Spirit_PerCapita  122 non-null    int64
 8   Wine_PerCapita    122 non-null    int64
dtypes: float64(2), int64(4), object(3)
memory usage: 8.7+ KB

In [182]:
happiness_suicide_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Happiness and Suicide\Suicide_rates.csv')
pd.set_option('display.max_columns', None)
happiness_suicide_df.sample(10)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
3973,Belize,2001,female,25-34 years,1.0,20224,4.940000,Belize2001,NaN,"87,18,60,600",4013.000000,Generation X
13336,Jamaica,2009,male,5-14 years,1.0,276734,0.360000,Jamaica2009,NaN,"12,03,88,29,246",4686.000000,Generation Z
31608,Cuba,2018,female,75+ years,55.0,11328244,0.485512,Cuba2018,0.762739,1.00E+11,8824.194008,G.I. Generation
29792,Austria,2020,female,5-14 years,1.0,8916864,0.011215,Austria2020,0.903039,4.33E+11,48586.801320,Generation X
3751,Belgium,2010,female,5-14 years,2.0,588803,0.340000,Belgium2010,0.883000,"4,83,54,80,31,197",47355.000000,Generation Z
16600,Mexico,1988,male,75+ years,60.0,467000,12.850000,Mexico1988,NaN,"1,83,14,41,64,357",2630.000000,G.I. Generation
22472,Singapore,1991,male,75+ years,16.0,25000,64.000000,Singapore1991,NaN,"45,47,44,42,836",17768.000000,G.I. Generation
25613,Trinidad and Tobago,2010,male,75+ years,4.0,14639,27.320000,Trinidad and Tobago2010,0.772000,"22,15,79,48,396",18000.000000,Silent
3271,Belarus,1996,female,5-14 years,3.0,797600,0.380000,Belarus1996,NaN,"14,75,68,46,154",1524.000000,Millenials
30343,Russian Federation,2018,female,15-24 years,270.0,144477859,0.186880,Russian Federation2018,0.844221,1.66E+12,11287.355280,Generation X

In [48]:
happiness_suicide_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31756 entries, 0 to 31755
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             31756 non-null  object
 1   year                31756 non-null  int64
 2   sex                 31756 non-null  object
 3   age                 31756 non-null  object
 4   suicides_no         30556 non-null  float64
 5   population          31756 non-null  int64
 6   suicides/100k pop   31756 non-null  float64
 7   country-year        31756 non-null  object
 8   HDI for year        12300 non-null  float64
 9    gdp_for_year ($)   31756 non-null  object
 10  gdp_per_capita ($)  31756 non-null  float64
 11  generation          31756 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 2.9+ MB

In [56]:
human_development_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Human Development World\Human Development Index - Full.csv')
pd.set_option('display.max_columns', None)
human_development_df.head()

,ISO3,Country,Human Development Groups,UNDP Developing Regions,HDI Rank (2021),Human Development Index (1990),Human Development Index (1991),Human Development Index (1992),Human Development Index (1993),Human Development Index (1994),Human Development Index (1995),Human Development Index (1996),Human Development Index (1997),Human Development Index (1998),Human Development Index (1999),Human Development Index (2000),Human Development Index (2001),Human Development Index (2002),Human Development Index (2003),Human Development Index (2004),Human Development Index (2005),Human Development Index (2006),Human Development Index (2007),Human Development Index (2008),Human Development Index (2009),Human Development Index (2010),Human Development Index (2011),Human Development Index (2012),Human Development Index (2013),Human Development Index (2014),Human Development Index (2015),Human Development Index (2016),Human Development Index (2017),Human Development Index (2018),Human Development Index (2019),Human Development Index (2020),Human Development Index (2021),Life Expectancy at Birth (1990),Life Expectancy at Birth (1991),Life Expectancy at Birth (1992),Life Expectancy at Birth (1993),Life Expectancy at Birth (1994),Life Expectancy at Birth (1995),Life Expectancy at Birth (1996),Life Expectancy at Birth (1997),Life Expectancy at Birth (1998),Life Expectancy at Birth (1999),Life Expectancy at Birth (2000),Life Expectancy at Birth (2001),Life Expectancy at Birth (2002),Life Expectancy at Birth (2003),Life Expectancy at Birth (2004),Life Expectancy at Birth (2005),Life Expectancy at Birth (2006),Life Expectancy at Birth (2007),Life Expectancy at Birth (2008),Life Expectancy at Birth (2009),Life Expectancy at Birth (2010),Life Expectancy at Birth (2011),Life Expectancy at Birth (2012),Life Expectancy at Birth (2013),Life Expectancy at Birth (2014),Life Expectancy at Birth (2015),Life Expectancy at Birth (2016),Life Expectancy at Birth (2017),Life Expectancy at Birth (2018),Life Expectancy at Birth (2019),Life Expectancy at Birth (2020),Life Expectancy at Birth (2021),Expected Years of Schooling (1990),Expected Years of Schooling (1991),Expected Years of Schooling (1992),Expected Years of Schooling (1993),Expected Years of Schooling (1994),Expected Years of Schooling (1995),Expected Years of Schooling (1996),Expected Years of Schooling (1997),Expected Years of Schooling (1998),Expected Years of Schooling (1999),Expected Years of Schooling (2000),Expected Years of Schooling (2001),Expected Years of Schooling (2002),Expected Years of Schooling (2003),Expected Years of Schooling (2004),Expected Years of Schooling (2005),Expected Years of Schooling (2006),Expected Years of Schooling (2007),Expected Years of Schooling (2008),Expected Years of Schooling (2009),Expected Years of Schooling (2010),Expected Years of Schooling (2011),Expected Years of Schooling (2012),Expected Years of Schooling (2013),Expected Years of Schooling (2014),Expected Years of Schooling (2015),Expected Years of Schooling (2016),Expected Years of Schooling (2017),Expected Years of Schooling (2018),Expected Years of Schooling (2019),Expected Years of Schooling (2020),Expected Years of Schooling (2021),Mean Years of Schooling (1990),Mean Years of Schooling (1991),Mean Years of Schooling (1992),Mean Years of Schooling (1993),Mean Years of Schooling (1994),Mean Years of Schooling (1995),Mean Years of Schooling (1996),Mean Years of Schooling (1997),Mean Years of Schooling (1998),Mean Years of Schooling (1999),Mean Years of Schooling (2000),Mean Years of Schooling (2001),Mean Years of Schooling (2002),Mean Years of Schooling (2003),Mean Years of Schooling (2004),Mean Years of Schooling (2005),Mean Years of Schooling (2006),Mean Years of Schooling (2007),Mean Years of Schooling (2008),Mean Years of Schooling (2009),Mean Years of Schooling (2010),Mean Years of Schooling (2011),Mean Years of Schooling (2012),Mean Years of Schooling (2013),Mean Years of Schooling (2014),Mean Years of Schooling (2015),Mean Years of Schooling (2016),Mean Years of Schooling (2017),Mean Years of Schooling (2018),Mean Years of Schooling (2019),Mean Years of Schooling (2020),Mean Years of Schooling (2021),Gross National Income Per Capita (1990),Gross National Income Per Capita (1991),Gross National Income Per Capita (1992),Gross National Income Per Capita (1993),Gross National Income Per Capita (1994),Gross National Income Per Capita (1995),Gross National Income Per Capita (1996),Gross National Income Per Capita (1997),Gross National Income Per Capita (1998),Gross National Income Per Capita (1999),Gross National Income Per Capita (2000),Gross National Income Per Capita (2001),Gross National Income Per Capita (2002),Gross National Income Per Capita (2003),Gross National Income Per Capita (2004),Gross National Income Per Capita (2005),Gross National Income Per Capita (2006),Gross National Income Per Capita (2007),Gross National Income Per Capita (2008),Gross National Income Per Capita (2009),Gross National Income Per Capita (2010),Gross National Income Per Capita (2011),Gross National Income Per Capita (2012),Gross National Income Per Capita (2013),Gross National Income Per Capita (2014),Gross National Income Per Capita (2015),Gross National Income Per Capita (2016),Gross National Income Per Capita (2017),Gross National Income Per Capita (2018),Gross National Income Per Capita (2019),Gross National Income Per Capita (2020),Gross National Income Per Capita (2021),GDI Group (2021),Gender Development Index (1990),Gender Development Index (1991),Gender Development Index (1992),Gender Development Index (1993),Gender Development Index (1994),Gender Development Index (1995),Gender Development Index (1996),Gender Development Index (1997),Gender Development Index (1998),Gender Development Index (1999),Gender Development Index (2000),Gender Development Index (2001),Gender Development Index (2002),Gender Development Index (2003),Gender Development Index (2004),Gender Development Index (2005),Gender Development Index (2006),Gender Development Index (2007),Gender Development Index (2008),Gender Development Index (2009),Gender Development Index (2010),Gender Development Index (2011),Gender Development Index (2012),Gender Development Index (2013),Gender Development Index (2014),Gender Development Index (2015),Gender Development Index (2016),Gender Development Index (2017),Gender Development Index (2018),Gender Development Index (2019),Gender Development Index (2020),Gender Development Index (2021),HDI female (1990),HDI female (1991),HDI female (1992),HDI female (1993),HDI female (1994),HDI female (1995),HDI female (1996),HDI female (1997),HDI female (1998),HDI female (1999),HDI female (2000),HDI female (2001),HDI female (2002),HDI female (2003),HDI female (2004),HDI female (2005),HDI female (2006),HDI female (2007),HDI female (2008),HDI female (2009),HDI female (2010),HDI female (2011),HDI female (2012),HDI female (2013),HDI female (2014),HDI female (2015),HDI female (2016),HDI female (2017),HDI female (2018),HDI female (2019),HDI female (2020),HDI female (2021),"Life Expectancy at Birth, female (1990)","Life Expectancy at Birth, female (1991)","Life Expectancy at Birth, female (1992)","Life Expectancy at Birth, female (1993)","Life Expectancy at Birth, female (1994)","Life Expectancy at Birth, female (1995)","Life Expectancy at Birth, female (1996)","Life Expectancy at Birth, female (1997)","Life Expectancy at Birth, female (1998)","Life Expectancy at Birth, female (1999)","Life Expectancy at Birth, female (2000)","Life Expectancy at Birth, female (2001)","Life Expectancy at Birth, female (2002)","Life Expectancy at Birth, female (2003)","Life Expectancy at Birth, female (2004)","Life Expectancy at Birth, female (2005)","Life Expectancy at Birth, female (2006)","Life Expectancy at Birth, female (2007)","Life Expectancy at Birth, female (2008)","Life Expectancy at Birth, female (2009)","Life Expectancy at Birth, female (2010)","Life Expectancy at Birth, female (2011)","Life Expectancy at Birth, female (2012)","Life Expectancy at Birth, female (2013)","Life Expectancy at Birth, female (2014)","Life Expectancy at Birth, female (2015)","Life Expectancy at Birth, female (2016)","Life Expectancy at Birth, female (2017)","Life Expectancy at Birth, female (2018)","Life Expectancy at Birth, female (2019)","Life Expectancy at Birth, female (2020)","Life Expectancy at Birth, female (2021)","Expected Years of Schooling, female (1990)","Expected Years of Schooling, female (1991)","Expected Years of Schooling, female (1992)","Expected Years of Schooling, female (1993)","Expected Years of Schooling, female (1994)","Expected Years of Schooling, female (1995)","Expected Years of Schooling, female (1996)","Expected Years of Schooling, female (1997)","Expected Years of Schooling, female (1998)","Expected Years of Schooling, female (1999)","Expected Years of Schooling, female (2000)","Expected Years of Schooling, female (2001)","Expected Years of Schooling, female (2002)","Expected Years of Schooling, female (2003)","Expected Years of Schooling, female (2004)","Expected Years of Schooling, female (2005)","Expected Years of Schooling, female (2006)","Expected Years of Schooling, female (2007)","Expected Years of Schooling, female (2008)","Expected Years of Schooling, female (2009)","Expected Years of Schooling, female (2010)","Expected Years of Schooling, female (2011)","Expected Years of Schooling, female (2012)","Expected Years of Schooling, female (2013)","Expected Years of Schooling, female (2014)","Expected Years of Schooling, female (2015)","Expected Years of Schooling, female (2016)","Expected Years of Schooling, female (2017)","Expected Years of Schooling, female (2018)","Expected Years of Schooling, female (2019)","Expected Years of Schooling, female (2020)","Expected Years of Schooling, female (2021)","Mean Years of Schooling, female (1990)","Mean Years of Schooling, female (1991)","Mean Years of Schooling, female (1992)","Mean Years of Schooling, female (1993)","Mean Years of Schooling, female (1994)","Mean Years of Schooling, female (1995)","Mean Years of Schooling, female (1996)","Mean Years of Schooling, female (1997)","Mean Years of Schooling, female (1998)","Mean Years of Schooling, female (1999)","Mean Years of Schooling, female (2000)","Mean Years of Schooling, female (2001)","Mean Years of Schooling, female (2002)","Mean Years of Schooling, female (2003)","Mean Years of Schooling, female (2004)","Mean Years of Schooling, female (2005)","Mean Years of Schooling, female (2006)","Mean Years of Schooling, female (2007)","Mean Years of Schooling, female (2008)","Mean Years of Schooling, female (2009)","Mean Years of Schooling, female (2010)","Mean Years of Schooling, female (2011)","Mean Years of Schooling, female (2012)","Mean Years of Schooling, female (2013)","Mean Years of Schooling, female (2014)","Mean Years of Schooling, female (2015)","Mean Years of Schooling, female (2016)","Mean Years of Schooling, female (2017)","Mean Years of Schooling, female (2018)","Mean Years of Schooling, female (2019)","Mean Years of Schooling, female (2020)","Mean Years of Schooling, female (2021)","Gross National Income Per Capita, female (1990)","Gross National Income Per Capita, female (1991)","Gross National Income Per Capita, female (1992)","Gross National Income Per Capita, female (1993)","Gross National Income Per Capita, female (1994)","Gross National Income Per Capita, female (1995)","Gross National Income Per Capita, female (1996)","Gross National Income Per Capita, female (1997)","Gross National Income Per Capita, female (1998)","Gross National Income Per Capita, female (1999)","Gross National Income Per Capita, female (2000)","Gross National Income Per Capita, female (2001)","Gross National Income Per Capita, female (2002)","Gross National Income Per Capita, female (2003)","Gross National Income Per Capita, female (2004)","Gross National Income Per Capita, female (2005)","Gross National Income Per Capita, female (2006)","Gross National Income Per Capita, female (2007)","Gross National Income Per Capita, female (2008)","Gross National Income Per Capita, female (2009)","Gross National Income Per Capita, female (2010)","Gross National Income Per Capita, female (2011)","Gross National Income Per Capita, female (2012)","Gross National Income Per Capita, female (2013)","Gross National Income Per Capita, female (2014)","Gross National Income Per Capita, female (2015)","Gross National Income Per Capita, female (2016)","Gross National Income Per Capita, female (2017)","Gross National Income Per Capita, female (2018)","Gross National Income Per Capita, female (2019)","Gross National Income Per Capita, female (2020)","Gross National Income Per Capita, female (2021)",HDI male (1990),HDI male (1991),HDI male (1992),HDI male (1993),HDI male (1994),HDI male (1995),HDI male (1996),HDI male (1997),HDI male (1998),HDI male (1999),HDI male (2000),HDI male (2001),HDI male (2002),HDI male (2003),HDI male (2004),HDI male (2005),HDI male (2006),HDI male (2007),HDI male (2008),HDI male (2009),HDI male (2010),HDI male (2011),HDI male (2012),HDI male (2013),HDI male (2014),HDI male (2015),HDI male (2016),HDI male (2017),HDI male (2018),HDI male (2019),HDI male (2020),HDI male (2021),"Life Expectancy at Birth, male (1990)","Life Expectancy at Birth, male (1991)","Life Expectancy at Birth, male (1992)","Life Expectancy at Birth, male (1993)","Life Expectancy at Birth, male (1994)","Life Expectancy at Birth, male (1995)","Life Expectancy at Birth, male (1996)","Life Expectancy at Birth, male (1997)","Life Expectancy at Birth, male (1998)","Life Expectancy at Birth, male (1999)","Life Expectancy at Birth, male (2000)","Life Expectancy at Birth, male (2001)","Life Expectancy at Birth, male (2002)","Life Expectancy at Birth, male (2003)","Life Expectancy at Birth, male (2004)","Life Expectancy at Birth, male (2005)","Life Expectancy at Birth, male (2006)","Life Expectancy at Birth, male (2007)","Life Expectancy at Birth, male (2008)","Life Expectancy at Birth, male (2009)","Life Expectancy at Birth, male (2010)","Life Expectancy at Birth, male (2011)","Life Expectancy at Birth, male (2012)","Life Expectancy at Birth, male (2013)","Life Expectancy at Birth, male (2014)","Life Expectancy at Birth, male (2015)","Life Expectancy at Birth, male (2016)","Life Expectancy at Birth, male (2017)","Life Expectancy at Birth, male (2018)","Life Expectancy at Birth, male (2019)","Life Expectancy at Birth, male (2020)","Life Expectancy at Birth, male (2021)","Expected Years of Schooling, male (1990)","Expected Years of Schooling, male (1991)","Expected Years of Schooling, male (1992)","Expected Years of Schooling, male (1993)","Expected Years of Schooling, male (1994)","Expected Years of Schooling, male (1995)","Expected Years of Schooling, male (1996)","Expected Years of Schooling, male (1997)","Expected Years of Schooling, male (1998)","Expected Years of Schooling, male (1999)","Expected Years of Schooling, male (2000)","Expected Years of Schooling, male (2001)","Expected Years of Schooling, male (2002)","Expected Years of Schooling, male (2003)","Expected Years of Schooling, male (2004)","Expected Years of Schooling, male (2005)","Expected Years of Schooling, male (2006)","Expected Years of Schooling, male (2007)","Expected Years of Schooling, male (2008)","Expected Years of Schooling, male (2009)","Expected Years of Schooling, male (2010)","Expected Years of Schooling, male (2011)","Expected Years of Schooling, male (2012)","Expected Years of Schooling, male (2013)","Expected Years of Schooling, male (2014)","Expected Years of Schooling, male (2015)","Expected Years of Schooling, male (2016)","Expected Years of Schooling, male (2017)","Expected Years of Schooling, male (2018)","Expected Years of Schooling, male (2019)","Expected Years of Schooling, male (2020)","Expected Years of Schooling, male (2021)","Mean Years of Schooling, male (1990)","Mean Years of Schooling, male (1991)","Mean Years of Schooling, male (1992)","Mean Years of Schooling, male (1993)","Mean Years of Schooling, male (1994)","Mean Years of Schooling, male (1995)","Mean Years of Schooling, male (1996)","Mean Years of Schooling, male (1997)","Mean Years of Schooling, male (1998)","Mean Years of Schooling, male (1999)","Mean Years of Schooling, male (2000)","Mean Years of Schooling, male (2001)","Mean Years of Schooling, male (2002)","Mean Years of Schooling, male (2003)","Mean Years of Schooling, male (2004)","Mean Years of Schooling, male (2005)","Mean Years of Schooling, male (2006)","Mean Years of Schooling, male (2007)","Mean Years of Schooling, male (2008)","Mean Years of Schooling, male (2009)","Mean Years of Schooling, male (2010)","Mean Years of Schooling, male (2011)","Mean Years of Schooling, male (2012)","Mean Years of Schooling, male (2013)","Mean Years of Schooling, male (2014)","Mean Years of Schooling, male (2015)","Mean Years of Schooling, male (2016)","Mean Years of Schooling, male (2017)","Mean Years of Schooling, male (2018)","Mean Years of Schooling, male (2019)","Mean Years of Schooling, male (2020)","Mean Years of Schooling, male (2021)","Gross National Income Per Capita, male (1990)","Gross National Income Per Capita, male (1991)","Gross National Income Per Capita, male (1992)","Gross National Income Per Capita, male (1993)","Gross National Income Per Capita, male (1994)","Gross National Income Per Capita, male (1995)","Gross National Income Per Capita, male (1996)","Gross National Income Per Capita, male (1997)","Gross National Income Per Capita, male (1998)","Gross National Income Per Capita, male (1999)","Gross National Income Per Capita, male (2000)","Gross National Income Per Capita, male (2001)","Gross National Income Per Capita, male (2002)","Gross National Income Per Capita, male (2003)","Gross National Income Per Capita, male (2004)","Gross National Income Per Capita, male (2005)","Gross National Income Per Capita, male (2006)","Gross National Income Per Capita, male (2007)","Gross National Income Per Capita, male (2008)","Gross National Income Per Capita, male (2009)","Gross National Income Per Capita, male (2010)","Gross National Income Per Capita, male (2011)","Gross National Income Per Capita, male (2012)","Gross National Income Per Capita, male (2013)","Gross National Income Per Capita, male (2014)","Gross National Income Per Capita, male (2015)","Gross National Income Per Capita, male (2016)","Gross National Income Per Capita, male (2017)","Gross National Income Per Capita, male (2018)","Gross National Income Per Capita, male (2019)","Gross National Income Per Capita, male (2020)","Gross National Income Per Capita, male (2021)",Inequality-adjusted Human Development Index (2010),Inequality-adjusted Human Development Index (2011),Inequality-adjusted Human Development Index (2012),Inequality-adjusted Human Development Index (2013),Inequality-adjusted Human Development Index (2014),Inequality-adjusted Human Development Index (2015),Inequality-adjusted Human Development Index (2016),Inequality-adjusted Human Development Index (2017),Inequality-adjusted Human Development Index (2018),Inequality-adjusted Human Development Index (2019),Inequality-adjusted Human Development Index (2020),Inequality-adjusted Human Development Index (2021),Coefficient of human inequality (2010),Coefficient of human inequality (2011),Coefficient of human inequality (2012),Coefficient of human inequality (2013),Coefficient of human inequality (2014),Coefficient of human inequality (2015),Coefficient of human inequality (2016),Coefficient of human inequality (2017),Coefficient of human inequality (2018),Coefficient of human inequality (2019),Coefficient of human inequality (2020),Coefficient of human inequality (2021),Overall loss (%) (2010),Overall loss (%) (2011),Overall loss (%) (2012),Overall loss (%) (2013),Overall loss (%) (2014),Overall loss (%) (2015),Overall loss (%) (2016),

In [64]:
WHR2015_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Happiness and Suicide\WHR\WHR2015.csv')
pd.set_option('display.max_columns', None)
WHR2015_df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [66]:
WHR2016_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Happiness and Suicide\WHR\WHR2016.csv')
pd.set_option('display.max_columns', None)
WHR2016_df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [68]:
WHR2017_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Happiness and Suicide\WHR\WHR2017.csv')
pd.set_option('display.max_columns', None)
WHR2017_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [70]:
WHR2018_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Happiness and Suicide\WHR\WHR2018.csv')
pd.set_option('display.max_columns', None)
WHR2018_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [72]:
WHR2019_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Happiness and Suicide\WHR\WHR2019.csv')
pd.set_option('display.max_columns', None)
WHR2019_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [74]:
WHR2020_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Happiness and Suicide\WHR\WHR2020.csv')
pd.set_option('display.max_columns', None)
WHR2020_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [76]:
WHR2021_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Happiness and Suicide\WHR\WHR2021.csv')
pd.set_option('display.max_columns', None)
WHR2021_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [78]:
WHR2022_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Happiness and Suicide\WHR\WHR2022.csv')
pd.set_option('display.max_columns', None)
WHR2022_df.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,7.821,7.886,7.756,2.518,1.892,1.258,0.775,0.736,0.109,0.534
1,2,Denmark,7.636,7.710,7.563,2.226,1.953,1.243,0.777,0.719,0.188,0.532
2,3,Iceland,7.557,7.651,7.464,2.320,1.936,1.320,0.803,0.718,0.270,0.191
3,4,Switzerland,7.512,7.586,7.437,2.153,2.026,1.226,0.822,0.677,0.147,0.461
4,5,Netherlands,7.415,7.471,7.359,2.137,1.945,1.206,0.787,0.651,0.271,0.419

In [124]:
WHR2023_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Happiness and Suicide\WHR\WHR2023.csv')
pd.set_option('display.max_columns', None)
WHR2023_df.tail()

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
132,Congo (Kinshasa),3.207,0.095,3.394,3.020,7.007,0.652,55.375,0.664,0.086,0.834,1.778,0.531,0.784,0.105,0.375,0.183,0.068,1.162
133,Zimbabwe,3.204,0.061,3.323,3.084,7.641,0.690,54.050,0.654,-0.046,0.766,1.778,0.758,0.881,0.069,0.363,0.112,0.117,0.905
134,Sierra Leone,3.138,0.082,3.299,2.976,7.394,0.555,54.900,0.660,0.105,0.858,1.778,0.670,0.540,0.092,0.371,0.193,0.051,1.221
135,Lebanon,2.392,0.044,2.479,2.305,9.478,0.530,66.149,0.474,-0.141,0.891,1.778,1.417,0.476,0.398,0.123,0.061,0.027,-0.110
136,Afghanistan,1.859,0.033,1.923,1.795,7.324,0.341,54.712,0.382,-0.081,0.847,1.778,0.645,0.000,0.087,0.000,0.093,0.059,0.976

In [82]:
loneliness_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Loneliness and Social Connections\self-reported-loneliness-older-adults.csv')
pd.set_option('display.max_columns', None)
loneliness_df.head()

    Entity Code  Year  Self-reported feelings of loneliness among older adults
0  Austria  AUT  2005                                                 46
1  Belgium  BEL  2005                                                 42
2  Denmark  DNK  2005                                                 25
3  England  NaN  2018                                                 33
4  Finland  FIN  2002                                                 39

In [84]:
loneliness_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Entity                                                   15 non-null     object
 1   Code                                                     14 non-null     object
 2   Year                                                     15 non-null     int64
 3   Self-reported feelings of loneliness among older adults  15 non-null     int64
dtypes: int64(2), object(2)
memory usage: 612.0+ bytes

In [88]:
labor_productivity_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Loneliness and Social Connections\labor-productivity-per-hour-PennWorldTable.csv')
pd.set_option('display.max_columns', None)
labor_productivity_df.head()

      Entity Code  Year  Productivity (PWT 9.1 (2019))
0  Argentina  ARG  1950                       3.132358
1  Argentina  ARG  1951                       3.153722
2  Argentina  ARG  1952                       2.827533
3  Argentina  ARG  1953                       2.963201
4  Argentina  ARG  1954                       3.045096

In [90]:
labor_productivity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3373 entries, 0 to 3372
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Entity                         3373 non-null   object
 1   Code                           3373 non-null   object
 2   Year                           3373 non-null   int64
 3   Productivity (PWT 9.1 (2019))  3373 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 105.5+ KB

In [92]:
labor_productivity_df['Year'].unique()

array([1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017], dtype=int64)

In [94]:
one_person_households_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Loneliness and Social Connections\one-person-households.csv')
pd.set_option('display.max_columns', None)
one_person_households_df.head()

        Entity Code  Year  Share of one person households
0  Afghanistan  AFG  2015                        0.189425
1      Albania  ALB  2011                        8.274421
2       Angola  AGO  2007                        4.082942
3       Angola  AGO  2011                        6.603705
4       Angola  AGO  2016                       10.813146

In [96]:
one_person_households_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          987 non-null    object
 1   Code                            961 non-null    object
 2   Year                            987 non-null    int64
 3   Share of one person households  987 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 31.0+ KB

In [136]:
one_person_households_df[one_person_households_df['Entity'] == 'Finland']

      Entity Code  Year  Share of one person households
257  Finland  FIN  2004                            37.9
258  Finland  FIN  2005                            38.3
259  Finland  FIN  2006                            38.5
260  Finland  FIN  2007                            38.5
261  Finland  FIN  2008                            39.2
262  Finland  FIN  2009                            39.8
263  Finland  FIN  2010                            39.5
264  Finland  FIN  2011                            40.1
265  Finland  FIN  2012                            40.2
266  Finland  FIN  2013                            40.3
267  Finland  FIN  2014                            40.8
268  Finland  FIN  2015                            40.9
269  Finland  FIN  2016                            41.3
270  Finland  FIN  2017                            41.6
271  Finland  FIN  2018                            43.0

In [154]:
non_net_users_df = pd.read_csv('non_net_users_prc.csv')
pd.set_option('display.max_columns', None)
non_net_users_df.head()

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN,100.0,100.0,99.9,99.9,98.8,97.9,98.1,98.2,96.5,96.0,95.0,94.5,94.1,93.0,91.70,88.80,86.50,86.50,86.50
1,Angola,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,99.9,99.9,99.9,99.7,99.6,99.5,98.9,98.5,98.3,98.1,97.7,97.2,96.9,93.5,91.1,78.6,87.60,87.00,85.70,85.70,85.70
2,Albania,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,99.9,99.9,99.9,99.7,99.6,99.0,97.6,94.0,90.4,85.0,76.1,58.8,55.0,51.0,45.3,42.8,39.9,36.80,33.60,28.10,28.10,30.40
3,Andorra,100.0,100.0,100.0,100.0,100.0,100.0,98.5,97.0,93.1,92.4,89.5,89.5,88.7,86.5,73.2,62.4,51.1,29.1,30.0,21.5,19.0,19.0,13.6,6.0,4.1,3.09,2.07,8.43,8.43,8.43
4,UAE,100.0,100.0,100.0,100.0,100.0,99.9,99.6,96.7,93.1,85.1,76.4,73.7,71.7,70.5,69.9,60.0,48.0,39.0,37.0,36.0,32.0,22.0,15.0,12.0,9.6,9.50,9.40,5.18,1.55,0.85

In [156]:
non_net_users_df[net_users_df['country'] == 'Finland']

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
56,Finland,99.6,98.6,98.1,97.4,95.1,86.1,83.2,80.5,74.5,67.7,62.8,56.9,37.6,30.8,27.6,25.5,20.3,19.2,16.3,17.5,13.1,11.3,10.1,8.49,13.5,13.6,12.3,12.5,11.1,10.4

In [162]:
press_freedom_df= pd.read_csv(r'C:\Users\Olga_hp\Desktop\Github\DI_Bootcamp\Final project\Press Freedom\Press Freedom Index.csv', encoding='latin1')
pd.set_option('display.max_columns', None)
press_freedom_df.head()

     Year  Country  ISO  Rank  Score        Zone
0  2023.0   Norway  NOR   1.0  95.18  UE Balkans
1  2023.0  Ireland  IRL   2.0  89.91  UE Balkans
2  2023.0  Denmark  DNK   3.0  89.48  UE Balkans
3  2023.0   Sweden  SWE   4.0  88.15  UE Balkans
4  2023.0  Finland  FIN   5.0  87.94  UE Balkans

In [164]:
press_freedom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989 entries, 0 to 1988
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     1979 non-null   float64
 1   Country  1979 non-null   object
 2   ISO      1979 non-null   object
 3   Rank     1979 non-null   float64
 4   Score    1979 non-null   float64
 5   Zone     1977 non-null   object
dtypes: float64(3), object(3)
memory usage: 93.4+ KB