Instructions :
<br>Using the Mental Health dataset and what you have learn this week, answer the following questions :
 <br>
 <br>What is the distribution of mental health conditions among different age groups in the tech industry?
 <br>How does the frequency of mental health issues vary by gender?
 <br>Identify the countries with the highest and lowest reported rates of mental health issues in the tech industry.

In [1]:
!pip install opendatasets
!pip install pandas

Requirement already satisfied: opendatasets in c:\users\olgak\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\olgak\anaconda3\lib\site-packages (from opendatasets) (4.64.0)
Requirement already satisfied: click in c:\users\olgak\anaconda3\lib\site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: kaggle in c:\users\olgak\anaconda3\lib\site-packages (from opendatasets) (1.6.14)
Requirement already satisfied: colorama in c:\users\olgak\anaconda3\lib\site-packages (from click->opendatasets) (0.4.4)
Requirement already satisfied: urllib3 in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.26.9)
Requirement already satisfied: requests in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.27.1)
Requirement already satisfied: six>=1.10 in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: python-dateutil in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: bleach in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: python-slugify in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\olgak\anaconda3\lib\site-packages (from kaggle->opendatasets) (2024.7.4)
Requirement already satisfied: webencodings in c:\users\olgak\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: packaging in c:\users\olgak\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\olgak\anaconda3\lib\site-packages (from packaging->bleach->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\olgak\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\olgak\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\olgak\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.3)
Requirement already satisfied: pandas in c:\users\olgak\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\olgak\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\olgak\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\olgak\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\olgak\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
import opendatasets as od

In [3]:
import pandas as pd

In [5]:
od.download( 
	"https://www.kaggle.com/datasets/osmi/mental-health-in-tech-survey")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: olgasazanova
Your Kaggle Key: ········
Dataset URL: https://www.kaggle.com/datasets/osmi/mental-health-in-tech-survey
Downloading mental-health-in-tech-survey.zip to .\mental-health-in-tech-survey

100%|██████████████████████████████████████████████████████████████████████████████| 48.8k/48.8k [00:00<00:00, 373kB/s]

In [6]:
data= pd.read_csv('survey.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [44]:
data.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,AgeGroup
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN,36-40
1,2014-08-27 11:29:37,44,Male,United States,IN,NaN,No,No,Rarely,More than 1000,...,Maybe,No,No,No,No,No,Don't know,No,NaN,41-50
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,No,No,Yes,Yes,Yes,Yes,No,No,NaN,31-35
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN,31-35
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN,31-35

In [12]:
data.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

Perform initial exploration to understand the dataset structure : whats the distribution of the data? What types of data do i have?

We have dataset 'Mental Health in Tech Survey', it has 27 columns. Most of the columns has data object type, because questions of survey are subjective and trying to understand how person handle with his mental problems. We have only one column that quantitative - 'Age'. We have  one more column that could be quantitative - 'no_employees', but it has number range, not just one number.

We have some None valuues in columns:
<br>  state    because it only for people from USA
<br> work_interfere  (question: If you have a mental health condition, do you feel that it interferes with your work?). So it means that people ho didn't answer don't have mental illness
<br> comments - because it was optional

let's fill NA in column work_interfere

In [51]:
data['work_interfere'] = data['work_interfere'].fillna('No illness')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1251 entries, 0 to 1258
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1251 non-null   object
 1   Age                        1251 non-null   int64
 2   Gender                     1251 non-null   object
 3   Country                    1251 non-null   object
 4   state                      738 non-null    object
 5   self_employed              1233 non-null   object
 6   family_history             1251 non-null   object
 7   treatment                  1251 non-null   object
 8   work_interfere             1251 non-null   object
 9   no_employees               1251 non-null   object
 10  remote_work                1251 non-null   object
 11  tech_company               1251 non-null   object
 12  benefits                   1251 non-null   object
 13  care_options               1251 non-null   object
 14  wellness_program           1251 non-null   object
 15  seek_help                  1251 non-null   object
 16  anonymity                  1251 non-null   object
 17  leave                      1251 non-null   object
 18  mental_health_consequence  1251 non-null   object
 19  phys_health_consequence    1251 non-null   object
 20  coworkers                  1251 non-null   object
 21  supervisor                 1251 non-null   object
 22  mental_health_interview    1251 non-null   object
 23  phys_health_interview      1251 non-null   object
 24  mental_vs_physical         1251 non-null   object
 25  obs_consequence            1251 non-null   object
 26  comments                   161 non-null    object
 27  AgeGroup                   1251 non-null   category
dtypes: category(1), int64(1), object(26)
memory usage: 275.1+ KB

In [17]:
data.duplicated().sum()

0

We don't have any duplicated rows

We have to analyze an age groups, so we should check what we have in column Age.

In [15]:
data['Age'].unique()

array([         37,          44,          32,          31,          33,
                35,          39,          42,          23,          29,
                36,          27,          46,          41,          34,
                30,          40,          38,          50,          24,
                18,          28,          26,          22,          19,
                25,          45,          21,         -29,          43,
                56,          60,          54,         329,          55,
       99999999999,          48,          20,          57,          58,
                47,          62,          51,          65,          49,
             -1726,           5,          53,          61,           8,
                11,          -1,          72], dtype=int64)

We see that we have here some  impossible numbers, so let's check what will if we filter them

In [20]:
data[(data['Age'] >= 16) & (data['Age'] <90)].count()

Timestamp                    1251
Age                          1251
Gender                       1251
Country                      1251
state                         738
self_employed                1233
family_history               1251
treatment                    1251
work_interfere                989
no_employees                 1251
remote_work                  1251
tech_company                 1251
benefits                     1251
care_options                 1251
wellness_program             1251
seek_help                    1251
anonymity                    1251
leave                        1251
mental_health_consequence    1251
phys_health_consequence      1251
coworkers                    1251
supervisor                   1251
mental_health_interview      1251
phys_health_interview        1251
mental_vs_physical           1251
obs_consequence              1251
comments                      161
dtype: int64

Ok,  we have just 8 rows with incorrect age, we can delete it from our dataframe

In [21]:
data = data[(data['Age'] >= 16) & (data['Age'] <90)]

In [25]:
data['Age'].value_counts().sort_index(ascending=True)

18     7
19     9
20     6
21    16
22    21
23    51
24    46
25    61
26    75
27    71
28    68
29    85
30    63
31    67
32    82
33    70
34    65
35    55
36    37
37    43
38    39
39    33
40    33
41    21
42    20
43    28
44    11
45    12
46    12
47     2
48     6
49     4
50     6
51     5
53     1
54     3
55     3
56     4
57     3
58     1
60     2
61     1
62     1
65     1
72     1
Name: Age, dtype: int64

In [37]:
pd.options.mode.chained_assignment = None

In [52]:
bins = [17, 24, 30, 35, 40, 50, 80]
labels = ['18-24', '25-30', '31-35', '36-40', '41-50', '51+']

In [53]:
data['AgeGroup'] = pd.cut(data['Age'], bins=bins, labels=labels, right=True)

data.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,AgeGroup
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN,36-40
1,2014-08-27 11:29:37,44,Male,United States,IN,NaN,No,No,Rarely,More than 1000,...,Maybe,No,No,No,No,No,Don't know,No,NaN,41-50
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,No,No,Yes,Yes,Yes,Yes,No,No,NaN,31-35
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN,31-35
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN,31-35

In [26]:
data['Gender'].unique()

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'Enby', 'fluid',
       'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'Malr', 'femail',
       'Cis Man', 'ostensibly male, unsure what that really means'],
      dtype=object)

In [29]:
data['Gender'].value_counts()

Male                                              612
male                                              204
Female                                            121
M                                                 116
female                                             62
F                                                  38
m                                                  34
f                                                  15
Make                                                4
Woman                                               3
Male                                                3
Female                                              2
Cis Male                                            2
Man                                                 2
Female (trans)                                      2
Malr                                                1
Trans woman                                         1
male leaning androgynous                            1
Cis Man                                             1
Neuter                                              1
msle                                                1
cis male                                            1
queer                                               1
Female (cis)                                        1
cis-female/femme                                    1
Mail                                                1
femail                                              1
Guy (-ish) ^_^                                      1
Enby                                                1
Agender                                             1
Male (CIS)                                          1
Male-ish                                            1
maile                                               1
Trans-female                                        1
Cis Female                                          1
something kinda male?                               1
Mal                                                 1
queer/she/they                                      1
Androgyne                                           1
non-binary                                          1
Femake                                              1
woman                                               1
Nah                                                 1
fluid                                               1
Genderqueer                                         1
ostensibly male, unsure what that really means      1
Name: Gender, dtype: int64

In [34]:
data1 = data.copy()
data1.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,Male,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [41]:
mapping = {
    'Female': 'Female',
    'M': 'Male',
    'Male': 'Male',
    'female': 'Female',
    'male ': 'Male',
    'F' : 'Female',
    'm' : 'Male',
    'f' : 'Female',
    'Make' : 'Male',
    'Make' : 'Male',
    'Woman' : 'Female',
    'Male ' : 'Male',
    'Female ' : 'Female',
    'Cis Male' : 'Male',
    'Man' : 'Male',
    'Malr' : 'Male',
    'Cis Man' : 'Male',
    'msle' : 'Male',
    'cis male' : 'Male',
    'woman' : 'Female',
    'Female (cis)' : 'Female',
    'cis-female/femme' : 'Female',
    'Mail' : 'Male',
    'femail' : 'Female',
    'Male (CIS)' : 'Male',
    'maile' : 'Male',
    'Cis Female' : 'Male',
    'Mal' : 'Male'
    } 


for value in data.Gender.unique():
  if value not in mapping.keys():
    mapping[value] = 'Other'
    

data.loc[:, 'Gender'] = data['Gender'].replace(mapping)
data.head(20)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,AgeGroup
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN,35-39
1,2014-08-27 11:29:37,44,Male,United States,IN,NaN,No,No,Rarely,More than 1000,...,Maybe,No,No,No,No,No,Don't know,No,NaN,40-49
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,No,No,Yes,Yes,Yes,Yes,No,No,NaN,30-34
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN,30-34
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN,30-34
5,2014-08-27 11:31:22,33,Male,United States,TN,NaN,Yes,No,Sometimes,6-25,...,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN,30-34
6,2014-08-27 11:31:50,35,Female,United States,MI,NaN,Yes,Yes,Sometimes,1-5,...,Maybe,Maybe,Some of them,No,No,No,Don't know,No,NaN,30-34
7,2014-08-27 11:32:05,39,Male,Canada,NaN,NaN,No,No,Never,1-5,...,No,No,No,No,No,No,No,No,NaN,35-39
8,2014-08-27 11:32:39,42,Female,United States,IL,NaN,Yes,Yes,Sometimes,100-500,...,Maybe,No,Yes,Yes,No,Maybe,No,No,NaN,40-49
9,2014-08-27 11:32:43,23,Male,Canada,NaN,NaN,No,No,Never,26-100,...,No,No,Yes,Yes,Maybe,Maybe,Yes,No,NaN,18-22
10,2014-08-27 11:32:44,31,Male,United States,OH,NaN,No,Yes,Sometimes,6-25,...,No,No,Some of them,Yes,No,No,Don't know,No,NaN,30-34
11,2014-08-27 11:32:49,29,Other,Bulgaria,NaN,NaN,No,No,Never,100-500,...,No,No,Yes,Yes,Yes,Yes,Don't know,No,NaN,23-29
12,2014-08-27 11:33:23,42,Female,United States,CA,NaN,Yes,Yes,Sometimes,26-100,...,Yes,Yes,Yes,Yes,Maybe,Maybe,No,Yes,NaN,40-49
13,2014-08-27 11:33:26,36,Male,United States,CT,NaN,Yes,No,Never,500-1000,...,No,No,Yes,Yes,No,No,Don't know,No,I'm not on my company's health insurance which...,35-39
14,2014-08-27 11:33:57,27,Male,Canada,NaN,NaN,No,No,Never,6-25,...,No,No,Some of them,Some of them,Maybe,Yes,Yes,No,NaN,23-29
15,2014-08-27 11:34:00,29,Female,United States,IL,NaN,Yes,Yes,Rarely,26-100,...,No,No,Yes,Some of them,Maybe,Maybe,Don't know,No,I have chronic low-level neurological issues t...,23-29
16,2014-08-27 11:34:20,23,Male,United Kingdom,NaN,NaN,No,Yes,Sometimes,26-100,...,Maybe,No,Some of them,No,Maybe,Maybe,No,No,My company does provide healthcare but not to ...,18-22
17,2014-08-27 11:34:37,32,Male,United States,TN,NaN,No,Yes,Sometimes,6-25,...,Maybe,No,Some of them,Yes,No,No,No,No,NaN,30-34
18,2014-08-27 11:34:53,46,Other,United States,MD,Yes,Yes,No,Sometimes,1-5,...,No,No,Yes,Yes,No,Yes,Yes,Yes,NaN,40-49
19,2014-08-27 11:35:08,36,Male,France,NaN,Yes,Yes,No,NaN,6-25,...,No,No,Some of them,Some of them,Maybe,Maybe,Don't know,No,NaN,35-39

In [28]:
data['Country'].value_counts()

United States             746
United Kingdom            184
Canada                     72
Germany                    45
Netherlands                27
Ireland                    27
Australia                  21
France                     13
India                      10
New Zealand                 8
Italy                       7
Poland                      7
Sweden                      7
Switzerland                 7
South Africa                6
Belgium                     6
Brazil                      6
Israel                      5
Singapore                   4
Bulgaria                    4
Mexico                      3
Russia                      3
Finland                     3
Austria                     3
Denmark                     2
Greece                      2
Portugal                    2
Colombia                    2
Croatia                     2
Moldova                     1
Georgia                     1
China                       1
Thailand                    1
Czech Republic              1
Norway                      1
Latvia                      1
Nigeria                     1
Japan                       1
Hungary                     1
Bosnia and Herzegovina      1
Uruguay                     1
Spain                       1
Romania                     1
Costa Rica                  1
Slovenia                    1
Philippines                 1
Name: Country, dtype: int64

In [48]:
data['treatment'].value_counts()

Yes    632
No     619
Name: treatment, dtype: int64

In [54]:
data['work_interfere'].value_counts()

Sometimes     464
No illness    262
Never         212
Rarely        173
Often         140
Name: work_interfere, dtype: int64

What is the distribution of mental health conditions among different age groups in the tech industry?

In [69]:
data[data['work_interfere'] != 'No illness'].groupby('AgeGroup')['work_interfere'].count()

AgeGroup
18-24    118
25-30    326
31-35    268
36-40    153
41-50    101
51+       23
Name: work_interfere, dtype: int64

So we see that the most number of people in age 25-30. The less older than 51.

How does the frequency of mental health issues vary by gender?

In [70]:
data[data['work_interfere'] != 'No illness'].groupby('Gender')['work_interfere'].count()

Gender
Female    210
Male      606
Other     173
Name: work_interfere, dtype: int64

Identify the countries with the highest and lowest reported rates of mental health issues in the tech industry.

In [73]:
data[data['work_interfere'] != 'No illness'].groupby('Country')['work_interfere'].count().sort_values(ascending=False)

Country
United States             604
United Kingdom            140
Canada                     63
Germany                    33
Ireland                    23
Australia                  20
Netherlands                19
New Zealand                 8
Poland                      7
Italy                       6
Switzerland                 5
Sweden                      5
South Africa                5
India                       5
Belgium                     4
Singapore                   4
France                      4
Brazil                      4
Bulgaria                    3
Israel                      3
Russia                      2
Finland                     2
Colombia                    2
Croatia                     2
Denmark                     2
Mexico                      2
Philippines                 1
Georgia                     1
Portugal                    1
Japan                       1
Hungary                     1
Slovenia                    1
Bosnia and Herzegovina      1
Czech Republic              1
Moldova                     1
Thailand                    1
China                       1
Austria                     1
Name: work_interfere, dtype: int64